---
import CocktaiItem from '../components/CocktailItem.astro';

interface Cocktail {
  id: number;
  name: string;
  price: number;
  note?: string;
}
const whiteLady: Cocktail = {
  id: 55126,
  name: 'WhiteLady',
  price: 1200,
  note: 'Sweet',
};

const blueHawaii: Cocktail = {
  id: 16558,
  name: 'BlueHawaii',
  price: 1400,
};
const cocktailList: Cocktail[] = [whiteLady, blueHawaii];
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Props Using Loop</title>
  </head>
  <body>
    <h1>Props using Loop</h1>
    {cocktailList.map((item) => <CocktailItem id={item.id} name={item.name} price={item.price} note={item.note} />)}
  </body>
</html>
